# custom
__pycache__
.idea
*.xml
extra/input/*
extra/output.log
extra/verwerkt/*
extra/DIMSdb*
.DS_Store
*/.DS_Store

# Flask stuff:
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
